* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 60px;
    width: 99%;
    font-family: spartan, sans-serif;
}

/* <!-- ---------------------------------------------------NAVBAR START----------------------------------------------------------- --> */


.nav-item:hover {

    border-bottom: 2px solid rgba(0, 128, 85, 0.596);
}


/* <!-- ---------------------------------------------------NAVBAR END----------------------------------------------------------- --> */

/* <!-- ---------------------------------------------------BANNER1 START----------------------------------------------------------- --> */


.banner-div {
    background-image: url(../images/hero4.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding-top: 100px;
}

#banner-btn {
    height: 45px;
    width: 220px;
    background-image: url(../images/button.png);
    cursor: pointer;
    font-family: sportan, sans-serif;
    font-size: 15px;
    font-weight: 600;
}

#f-1 {
    color: #088178;
    background-color:#dfbdc4;
    border: none;
    outline: none;
}

/* <!-- ---------------------------------------------------BANNER1 END----------------------------------------------------------- --> */

/* <!-- ---------------------------------------------------REPAIR SERVICE BANNER START----------------------------------------------------------- --> */

#repair {
    height: 250px;
    width: 100%;
    background-image: url(../images/banner/b2.jpg);
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#repair-btn {
    border: none;
    outline: none;
}

#repair-btn:hover {
    background-color: #088178;
    color: #fff;
}

/* <!-- ---------------------------------------------------REPAIR SERVICE BANNER END----------------------------------------------------------- --> */

/* <!-- ---------------------------------------------------NEW ARRIVALS SECTION START----------------------------------------------------------- --> */


.new-arrivals-heading {
    height: 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#crazy-deals {
    padding-top: 60px;
    padding-left: 20px;
}

#crazy-deals-btn {
    border: 1px solid white;
    outline: none;
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    transition: all 0.7s;
}

#crazy-deals:hover #crazy-deals-btn {
    background-color: #088178;
    border: none;
}


#season-clothes {
    padding-top: 60px;
    padding-left: 20px;  
}


#season-clothes:hover #season-clothes-btn {
    background-color: #088178;
    border: none;
}

#season-clothes-btn {
    border: 1px solid white;
    outline: none;
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    transition: all 0.7s;
}

.banner-container-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.banner-boxes-div {
    width: 84%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#banner-box1 {
    height: 200px;
    width: 336px;
    background-image: url(../images/banner/b7.jpg);
    background-size: cover;
    background-position: center;
}
#banner-box2 {
    height: 200px;
    width: 384px;
    background-image: url(../images/banner/b4.jpg);
    background-size: cover;
    background-position: center;
}
#banner-box3 {
    height: 200px;
    width: 336px;
    background-image: url(../images/banner/b18.jpg);
    background-size: cover;
    background-position: center;
}

/* <!-- ---------------------------------------------------NEW ARRIVALS SECTION START----------------------------------------------------------- --> */

/* <!-- ---------------------------------------------------SIGN UP BANNER START----------------------------------------------------------- --> */


.signup-banner {
    height: 150px;
    width: 100%;
    background-image: url(../images/about/banner.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* <!-- ---------------------------------------------------SIGN UP BANNER START----------------------------------------------------------- --> */

/* <!-- ---------------------------------------------------FOOTER START----------------------------------------------------------- --> */


.footer-div {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-ul {
    list-style-type: none;
}

/* <!-- ---------------------------------------------------FOOTER START----------------------------------------------------------- --> */

/* <!-- ---------------------------------------------------SHOP NAVIGATION H6 START----------------------------------------------------------- --> */

.h6:hover {
    color: #088178;
    transition: 300ms;
    cursor: pointer;
}

/* <!-- ---------------------------------------------------SHOP NAVIGATION H6 START----------------------------------------------------------- --> */
